* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.bg-container {
    position: relative;
    background-image: url("./bg.jfif");
    background-size: cover; 
    background-position: center;
    min-height: 100vh;
}
.rectangle{
    
    position:absolute;
    top:20%;
    left:10%;
    border:none;
    border-radius:20px;
    background-color: beige;
    padding: 50px;
    width: 400px;
    height: 400px;
}
.login{
    display:flex;
    justify-content:center;
    align-items:center;
}
.login button{
    background-color:rgb(113, 156, 113);
    border: none;
    border-radius: 20px;
    padding:10px;
    width:100px;
}
.options{
    display: flex;
    flex-direction: row;
    align-items: center;  
    color: rgb(113, 156, 113);
    font-size: 14px;
    width:100%;

}
.input input{
    width:250px;
    border:none;
    border-radius:20px;
    padding:10px;
}
.h1{
    display:flex;
    justify-content: center;
    color:rgb(113, 156, 113);
}
.options p {
    padding-left: 50%;
          
}